{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <title>
            Citizens Hive
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

        
        <meta name="viewport" content="width=device-width, initial-scale=1" >

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <link rel="stylesheet" type="text/css" href="{% static 'css/senior_dashboard.css' %}">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <script type="text/javascript" src="{% static 'javascript/senior_dashboard.js' %}"></script>
        <script src="{% static 'javscript/jquery.rating.js' %"></script>
        
    </head>
    {% include "navbar_senior.html" %}
    <body>
        
          <div class="container">
            <div class="row">
              <div class="col-md-3" style="border-right: 1px solid #E8E8E8; height: 35%; width: 35%;">
                <img src="{{ user.profile_image.url }}" alt="" style="width: 100%; height: 100%;">
            </div>

                <div class="col-md-7" style="border-right: 1px solid #E8E8E8;">
                    <table>
                      <tr>
                        <td>
                          <label for="name"> <b>Name</b></label>
                        </td>
                        <td>
                          <body>{{ user.name }}</body>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <label for="email"><b>Email</b></label>
                        </td>
                        <td>
                          <body>{{ user.email }}</body>
                        </td>
                      </tr>
                                        
                      <tr>
                        <td>
                          <label for="availability"> <b> Type of Care</b></label>
                        </td>
                        <td>
                          {% if user.availability == 'at_seniors' %}
                          <body>At Senior's home</body>
                          {% elif user.availability == 'at_caregivers' %}
                          <body>At my own home</body>
                          {% else %}
                          <body>Hourly: {{user.day}} for {{user.hour}} hours</body>
                          {% endif %}
                        </td>
                      </tr>
                    
                      <tr>
                        <td>
                          <label for="zip"><b>Zip Code</b></label>
                        </td>
                        <td>
                          <body>{{ user.zip_code }}</body>
                        </td>
                      </tr>
                    
                      <tr>
                        <td>
                          <label for="city"><b>City</b></label>
                        </td>
                        <td>
                          <body>{{ user.city }}</body>
                       </td>
                      </tr>
                    
                      <tr>
                        <td>
                          <label for="state"><b>State</b></label>
                        </td>
                        <td>
                          <body>{{ user.state }}</body>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <b>Bio</b>
                        </td>
                        <td>
                          <body>{{ user.bio }}</body>
                        </td>

                        <tr>
                          <td>
                            <label for="Rating" id="rating"><b>Rating</b></label>
                          </td>
                          <td>
                            <body><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                              {{rating}}
                            </body>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <label for="Review"><b>Review</b></label>
                          </td>
                          <td>
                            <body>{{ review }}</body>
                          </td>
                        </tr>

                      </tr>

                      <tr>
                        <td>
                          <b>Expected Start Date of service</b>
                        </td>
                        <td>
                          <body>{{ user.start_date }}</body>
                        </td>
                      </tr>

                      <tr>
                        <td>
                          <b>Expected End Date of service</b>
                        </td>
                        <td>
                          <body>{{ user.end_date }}</body>
                        </td>
                      </tr>
                      
                      <!-- <tr>
                        <td>
                          <b>Number of days of service</b>
                        </td>
                        <td>
                          <body>{{ user.number_of_days }}</body>
                        </td>
                      </tr> -->
                      <tr>
                        <td>
                          <b>Home Photo</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="{{ user.home_image.url }}" alt="" class="img-fluid my-auto" style="width: 20%; ">
                        </td>
                      </tr>
                    </table>
                     
            </div>
            <div class="col-md-2">
                <form action="{% url 'match_caregiver_to_senior' caregiver_id=user.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="submit" name="submit_edit" id="submit_edit" value="I'm interested">
                    {% if messages %}
                    {% for message in messages %}
                    {% if message.tags %}
                    <script>alert("{{ message }}")</script> 
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </form>

            </div>
          </div>
          </div>


    </body>
</html>