{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1" >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    
    <style type="text/css">
        html,
        body,
        header,
        .carousel {
            height: 60vh;
        }

        @media (max-width: 740px) {

            html,
            body,
            header,
            .carousel {
                height: 100vh;
            }
        }

        @media (min-width: 800px) and (max-width: 850px) {

            html,
            body,
            header,
            .carousel {
                height: 100vh;
            }
        }
        
    </style>
  

</head>
{% if user_type == 'senior' %}
    {% include "navbar_senior.html" %}
    {% else %}
    {% include "navbar_caregiver.html" %}
    {% endif %}
<body>
<div class="container">

    <div class="table-responsive text-nowrap">
    <h2 class="text-center mb-5">Payment Summary</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{% if user_type == 'senior' %}
                Caregiver
                {% else %}
                Senior
                {% endif %}</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Total number of days</th>
            <th scope="col">Total amount</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{% if user_type == 'senior' %}
                {{ transaction.caregiver_email }}
                {% else %}
                {{ transaction.senior_email }}
                {% endif %}
                </td>
            <td>{{ transaction.start_date }}</td>
            <td>{{ transaction.end_date }} </td>
            <td>{{ transaction.number_of_days }} </td>
            {% if user_type == 'senior' %}
            <td>$ {{ transaction.amount }} </td>
                {% else %}
                <td>   Transaction in review </td>
                {% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan='5'>You have no payments</td>
        </tr>
        
        
        {% endfor %}
        
        
        
        </tbody>
    </table>

    </div>

    </div>
</body>
</html>
